
<div class="btn-group float_btn" role="group">
  <%= link_to "All Books", books_path, class: "btn btn-xlg btn-primary", style: "color: #000"%>
</div>
<div class="btn-group float_btn" role="group">
  <%= link_to "Change Library", libraries_path, class: "btn btn-xlg btn-primary", style: "color: #000"%>
</div>